/*
===========================
  fonts
===========================
*/

@font-face {
    font-family: "iransans";
    src: url(./../font/iransans/IRANSansWeb.woff) format("woff"), url(./../font/iransans/IRANSansWeb.woff2) format("woff2"), url(./../font/iransans/IRANSansWeb.eot) format("eot"), url(./../font/iransans/IRANSansWeb.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "iransansBold";
    src: url(./../font/iransans/IRANSansWeb_Bold.woff) format("woff"), url(./../font/iransans/IRANSansWeb_Bold.woff2) format("woff2"), url(./../font/iransans/IRANSansWeb_Bold.eot) format("eot"), url(./../font/iransans/IRANSansWeb_Bold.ttf);
    font-weight: 700;
}


/*
===========================
root setting
===========================
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: #676fa3;
    --clr-primary-2: #cddeff;
    --clr-primary-3: #eef2ff;
    --clr-primary-4: #417aab;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-modal: rgba(103, 111, 163, .7);
    --ff-primary: "iransans", sans-serif;
    --ff-pirmary-bold: "iransansBold", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --gradiant-background-1: rgb(205, 222, 255);
    --gradiant-background-2: linear-gradient(38deg, rgba(205, 222, 255, 0) 0%, rgba(205, 222, 255, 1) 40%);
    --gradiant-background-3: rgb(205, 222, 255);
    --gradiant-background-4: linear-gradient(144deg, rgba(205, 222, 255, 0) 25%, rgba(205, 222, 255, 1) 90%);
    --gradiant-background-3-hover: rgb(103, 111, 163);
    --gradiant-background-4-hover: linear-gradient(144deg, rgba(103, 111, 163, 1) 0%, rgba(205, 222, 255, 1) 60%);
    --button-border-radious: 10px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: 0;
    outline: 0;
}

input:focus {
    outline: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-pirmary-bold);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}


@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.sections{
      background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);
    border-radius: var(--radius);
}



/*
===========
buttons
===========
 */
.btn, .input {
    border-radius: var(--button-border-radious);
    background: var(--clr-white);
    padding: 10px 15px;
    border: 2px solid var(--clr-primary-1);
    color: var(--clr-primary-1);
    font-family: var(--ff-pirmary-bold);
    font-size: 16px;

}

.btn--transparent, .input--transparent {
    background: var(--clr-primary-3);
}

.btn--transparent:hover, .input--transparent:hover {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}

.btn--bold, .input--bold {
    border-width: 3px;
}

/*
====================
header section
====================
*/
.header {
    background: var(--clr-primary-1);
    position: relative;
    color: var(--clr-white);
    z-index: 999;
}

.logo-container {
    width: 100px;
    height: 50px;
}

/*nav-list*/
nav .nav-item {
    margin-left: 1.5rem;
}


.search-form {
    background: #fff;
    padding: 0.2rem 1rem .2rem .5rem;
    color: var(--clr-primary-1);
    border-radius: var(--radius);
}

.search-form input {
    flex-grow: 1;
    outline: 0;
    border: 0;
}

.search-form .icon-container {
    transform: translateY(2px);
}

nav .nav-list, nav .search-input {
    display: none !important;
}

.nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
}

@media screen and (min-width: 992px) {
    .nav-toggle {
        display: none;
    }

    nav .nav-list {
        display: flex !important;
    }

    nav .search-input {
        display: block !important;
    }

}


/*
===============
Sidebar
===============
*/
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-2);
    transition: var(--transition);
    cursor: pointer;
}

.close-btn:hover {
    transform: rotate(360deg);
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 1rem 1.5rem;
    background: var(--clr-primary-1);
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 1rem;
    transition: var(--transition);
    transform: translate(100%);
    color: var(--clr-white);
}

.show-sidebar {
    transform: translate(0);
}

.sidebar .nav-list {
    margin-right: 1rem;


}

.sidebar .nav-item {
    margin-right: 0;
    margin-bottom: 1rem;
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}

/*@media screen and (min-width: 992px) {*/
/*    .sidebar {*/
/*        display: none;*/
/*    }*/
/*}*/


/*
====================
footer section
====================
*/
.footer {
    background-color: var(--clr-primary-1);
    color: var(--clr-white);

}

/*
====================
end footer section
====================
*/

/*
====================
login section
====================
*/
.login-page {
    background: url("../img/login_page/tehran_university.jpg") no-repeat center center;
    background-size: cover;
}


.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}


.login-wrap {
    width: 100%;
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-html {

    margin: 10px auto;
    max-width: 525px;
    max-height: 90vh;
    min-height: 600px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    padding: 50px 70px 70px;
    background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);
    border-radius: 50px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 5px solid var(--clr-primary-1);
    opacity: 40%;
}

.login-html label.tab {
    padding-left: 15px;
    padding-right: 15px;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    border-color: var(--clr-primary-1);
    color: var(--clr-primary-1);
    opacity: 1;
    font-family: var(--ff-pirmary-bold);

}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    /*color: #fff;*/
    display: block;
}

.login-form .group .button {
    cursor: pointer;
}

/* forgot password*/
/*
===============
Sidebar
===============
*/


/*.login-form .group .input,*/
/*.login-form .group .button {*/
/*    border: none;*/
/*    padding: 15px 20px;*/
/*    border-radius: 25px;*/
/*    background: rgba(255, 255, 255, .1);*/
/*}*/

.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: var(--clr-primary-1);
    margin-bottom: 10px;
    font-size: 16px;
}

.forgot-password {
    color: var(--clr-primary-1);
    margin-top: 20px;
    font-family: var(--ff-pirmary-bold);
    opacity: .9;
}

.sign-up-button {
    padding-top: 20px;
}

/*.login-form .group .button {*/
/*    background: #1161ee;*/
/*}*/

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check + label .icon {
    background: var(--clr-primary-1);
}

.login-form .group .check + label .icon {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}

/*.login-form .group .check:checked + label {*/
/*    color: #fff;*/
/*}*/
.remind-me {
    margin-right: 5px;
    margin-top: 10px;
}


.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.foot-lnk {
    text-align: center;
}

/*
====================
end login
====================
 */

/*
===============
article section
===============
 */
.article-box, .notification-box {
    padding: 3rem;
    border-radius: var(--radius);
    background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);


}

.article, .notification {
    width: 100%;
    padding: 1.75rem;
    background: var(--gradiant-background-3);
    background: var(--gradiant-background-4);
    border-radius: var(--radius);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.09);
}

.article:hover, .notification:hover {
    background: var(--gradiant-background-3-hover);
    background: var(--gradiant-background-4-hover);
}


/*
===============
end section
===============
 */

/*
===============
swiper slider section
===============
 */

.article-container .swiper-wrapper {
    height: 500px;
}

.article--section .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-slider .swiper-button-next,
.vertical-slider .swiper-button-prev {
    transform: rotate(90deg);
    transform-origin: center center;
    left: auto !important;
    right: auto !important;
}

.vertical-slider .swiper-button-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

}

.vertical-slider .swiper-button-prev {
    top: 20px;
}

.vertical-slider .swiper-button-next {
    top: -20px;
    transform: rotate(90deg);
    bottom: 0;
}
.swiper-pagination-container{
    position: relative;
}

/*
===============
end swiper slider section
===============
 */



/*
===============
end lesson section
===============
 */

/*
===============
popup
===============
 */

.modal {
    background: var(--clr-modal);
}

.modal-content {

    border-radius: 20px;
    border: 0;
    background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);
}

.modal-header .btn-close {
    font-size: 20px;
    color: var(--clr-primary-1);

}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    padding: 1rem 4rem;
}

@media screen and (min-width: 568px) {
    .modal-body {
        padding: 1rem 7rem;
    }

}

/*
===============
file uploader
===============
 */
.form-group {
    width: 100%;
    text-align: center;
}

.file-uploader {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: -999;
}

.file-uploader-label {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    background-image: url("./../img/defualts/Default Profile.jpg");
    background-size: cover;
}
.file-uploader-label--file{
    display: inline-block;
    border-radius: var(--radius);
    background: var(--clr-primary-1);
    cursor: pointer;
padding: .5rem;
    color: var(--clr-primary-2);

}


.file-uploader-label .file-uploader-icon-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transition: var(--transition);

}

@media screen and (min-width: 968px) {
    .file-uploader-label:hover .file-uploader-icon-container {
        bottom: 0;
    }

    .file-uploader-label .file-uploader-icon-container {
        bottom: -50px;

    }
}


/*
===============
profile
===============
 */
.profile-container {
    width: 80vw;
    background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);
    border-radius: var(--radius);
}

.more-information__profile {
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .profile-container {
        width: 700px;
    }

    .select-lesson__profile {
        padding-left: 2rem;
    }

    .select-lesson__profile select {
        margin-right: 1.5rem;
    }

    .more-information__profile-md {
        max-width: 100%;
        margin: auto;
    }

}
/*
===============
lesson section
===============
 */
.lesson--section{
    position: relative;
}
.lesson--section .add-lesson{
    position: absolute;
    top: 20px;
    left: 10px;
}

.lesson__image-container {
    height: 165px;
    width: 150px;
    margin: 2rem auto;
}

.lesson--section {
    background: var(--gradiant-background-1);
    background: var(--gradiant-background-2);
    border-radius: var(--radius);

}

.lesson-container {
    background: var(--gradiant-background-3);
    background: var(--gradiant-background-4);
    border-radius: var(--radius);
}

.lesson-container:hover {
    background: var(--gradiant-background-4-hover);
}

.lesson-container {
    margin-right: 2rem;
}
.modal-lesson .file-uploader-label{
    background-image: url("./../img/defualts/graduation-cap.jpg")
}



@media screen and (min-width: 578px) {
    .lesson__image-container {
        height: 210px;
        width: 195px;
    }

}
/*
===============
note section
===============
 */
.add-note--section{
    max-width: 50vw;
    margin: 0 auto;
}
.table{
border: 2px solid var(--clr-primary-1);
color:var(--clr-primary-1);
    border-radius: var(--radius);
    vertical-align: middle;

}
.table-bordered > :not(caption) > * > *{
    border-width: 2px;
}
.table-svg-image{
    width: 50px;
}
@media screen and (min-width: 768px){
    .add-note--section{
    max-width: 500px;
}
}





