{% extends "base.html" %}{% load static %}
{% block title %}login page{% endblock %}
{% block bootstrap %}
{% endblock %}
{% block innerstyle %}
    <style>


    </style>
{% endblock %}


{% block header %}
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="login-wrap">
            <div class="login-html">
                   <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                         class="tab">تغییر رمز عبور</label><input
                    id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" style="display: none;">ثبت نام</label>
                <div class="login-form">
                    <form class="sign-in-htm" action="" method="POST">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <p style="color: red">{{ error }}</p>
                        </div>
                        {% endfor %}

                        {% for field in form %}
                            <div class="group d-flex flex-column  ">
                                {{ field.label_tag }}<br>
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}

                        <div class="group">
                            <input type="submit" class="button input input--transparent input--bold" value="تأیید">
                        </div>
                        <div class="hr"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block footer %}
{% endblock %}
