{% extends "./base.html" %}{% load static %}
{% block title %}lessons{% endblock %}


{% block innerstyle %}
    <style>
        .swiper{
            height: 1000px;
        }

        .swiper-slide {
            height: calc(50% - 50px);
        }
        .swiper-wrapper{

        }

    </style>

{% endblock %}


<body>
yes
</body>


{% block content %}
    <div class="container mt-5 p-5 lesson--section swiper-container" id="swiper-lesson">
        <h3 class="  lesson--section__title">دروس استاد</h3>
        <div class="swiper swiper-container">
            <div class=" swiper-wrapper  ">
                <!-- Slides -->
                <div class=" swiper-slide">
                    <div class="p-1 shadow lesson-container">
                        <div class="text-center mb-1 lesson__image-container ">
                            <img src="{% static "img/index/1200px-University_of_Tehran_logo.png" %}"
                                 class="card-img-top  py-2 lesson__image" alt="">
                        </div>
                        <div class="p-3 lesson__content">
                            <h4 class="lesson__title">ریز پردازنده</h4>
                            <p class=" ">دانشگاه تهران/پردیس فارابی</p>
                            <p class=" ">یکشنبه</p>
                        </div>

                    </div>
                </div>
                <div class=" swiper-slide">
                    <div class="p-1 shadow lesson-container">
                        <div class="text-center mb-1 lesson__image-container ">
                            <img src="{% static "img/index/1200px-University_of_Tehran_logo.png" %}"
                                 class="card-img-top  py-2 lesson__image" alt="">
                        </div>
                        <div class="p-3 lesson__content">
                            <h4 class="lesson__title">ریز پردازنده</h4>
                            <p class=" ">دانشگاه تهران/پردیس فارابی</p>
                            <p class=" ">یکشنبه</p>
                        </div>

                    </div>
                </div>
                <div class=" swiper-slide">
                    <div class="p-1 shadow lesson-container">
                        <div class="text-center mb-1 lesson__image-container ">
                            <img src="{% static "img/index/1200px-University_of_Tehran_logo.png" %}"
                                 class="card-img-top  py-2 lesson__image" alt="">
                        </div>
                        <div class="p-3 lesson__content">
                            <h4 class="lesson__title">ریز پردازنده</h4>
                            <p class=" ">دانشگاه تهران/پردیس فارابی</p>
                            <p class=" ">یکشنبه</p>
                        </div>

                    </div>
                </div>
                <div class=" swiper-slide">
                    <div class="p-1 shadow lesson-container">
                        <div class="text-center mb-1 lesson__image-container ">
                            <img src="{% static "img/index/1200px-University_of_Tehran_logo.png" %}"
                                 class="card-img-top  py-2 lesson__image" alt="">
                        </div>
                        <div class="p-3 lesson__content">
                            <h4 class="lesson__title">ریز پردازنده</h4>
                            <p class=" ">دانشگاه تهران/پردیس فارابی</p>
                            <p class=" ">یکشنبه</p>
                        </div>

                    </div>
                </div>



                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->


            </div>

        </div>


    </div>
{% endblock %}
{% block testjs %}




{% endblock %}




