{% extends "base.html" %}{% load static %}
{% block title %}lessons{% endblock %}


{% block innerstyle %}


{% endblock %}




{% block content %}




    <div class="container mb-5 mt-5 p-5 sections note--section ">
        <header><h3 class="title ">درخواست ها</h3>

        </header>
        <div class="mb-5">
            <div class="mt-5 table-responsive table-container rounded-table-container">
                <table class="table rounded-table">
                    <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">نام دانشجو</th>
                        <th scope="col">شماره دانشجویی</th>
                        <th scope="col">درس</th>
                        <th scope="col">دانشگاه</th>
                        <th scope="col">مقاله/درس</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">پذیرفتن</th>
                        <th scope="col">نپذیرفتن</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>یک چیزی</td>
                        <td>نمره تشویقی به ...</td>
                        <td>۱۴۰۰/۵/۵</td>
                        <td>۱۴۰۰/۵/۵</td>
                        <td>۱۴۰۰/۵/۵</td>
                        <td>۱۴۰۰/۵/۵</td>
                        <td class="table-svg-image"><img src="{% static "img/notes/view.png" %}" alt=""></td>
                        <td class="table-svg-image"><img src="{% static "img/notes/trash.png" %}" alt=""></td>

                    </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>






{% endblock %}
{% block mainjs %}
    <script src="{% static "js/pages/requests.js" %}" type="module"></script>
{% endblock %}




{% block testjs %}




{% endblock %}




